<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir or 'ltr' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=-1" />
  <meta name="keywords" content="Golang, Go, HTML, CSS, Cloud, Serverless, Developer, AWS"/>
  <meta name="language" content="{{ page.lang }}">
  <meta name="author" content="Lionel Pinheiro Duarte">
  <meta name="description" content="Find out what I can do by clicking on this resume."/>
  <title>{{ title }}</title>
  <link href="/styles/styles.css" rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/127b2bdecd.js"></script>
</head>
<body>
   <header itemscope itemtype="http://schema.org/Person">
    <section id="role">
      <nav aria-label="Primary">
        <ul>
          {% for item in navigation[page.lang] %}
          <li>
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <div>
        <h1 itemprop="name" content="Lionel Pinheiro Duarte"><span itemprop="givenName">{{ en.firstName }} </span><span
          itemprop="familyName">{{ en.lastName }}</span>
        </h1>
        <h2>{{ en.jobTitle }}</h2>
      </div>
      <div>
        <div id="contact">
          <p><span>Email: </span><a href="mailto:lionel.duarte.p@gmail.com">lionelpinhero@gmail.com</a></p>
          <p><span>Site: </span><a href="lionelpinheiro.com">lionelpinheiro.com</a></p>
        </div>
        <ul id="social">
          <li><ion-icon name="logo-linkedin"></ion-icon><a href="https://www.linkedin.com/in/lionel-pinheiro/"
              target="_blanck">@lionel-pinheiro</a></li>
          <li><ion-icon name="logo-github"></ion-icon><a href="https://github.com/Liopin" target="_blanck"></i>@liopin</a></li>
          <li><ion-icon name="logo-twitter"></ion-icon><a href="https://twitter.com/Lionelpinheiro_"
              target="_blanck"></i>@lionelpinheiro_</a></li>
        </ul>
      </div>
    </section>
  </header>
  <main>{{ content | safe }}</main>
</body>
</html>
