<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=-1" />
  <meta name="keywords" content="Golang, Go, HTML, CSS, Cloud, Serverless, Developer, AWS"/>
  <meta name="language" content="EN">
  <meta name="author" content="Lionel Pinheiro Duarte">
  <meta name="description" content="Find out what I can do by clicking on this resume."/>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="styles/style.css">
  <script src="https://kit.fontawesome.com/127b2bdecd.js"></script>
</head>
<body>
  <p>{{ title }}</p>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
