footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 7vh;
  padding: 0.5rem;
}
footer a {
  border-bottom: 4px solid var(--color-content);
  text-decoration: none;
  padding: 5px;
}
