#role {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
header #role {
  line-height: 0.4rem;
}

header h1 {
  display: flex;
}

header h1 > span {
  margin-right: 1rem;
}
#utitlity {
  display: flex;
}

#utility span {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}
#contact p {
  line-height: 0.3rem;
}

#contact p span {
  font-weight: bold;
}

#social ul {
  display: flex;
  list-style: none;
}

#social ul li {
  display: flex;
  align-items: center;
}

#social ul a {
  margin-right: 1.5rem;
}
