header #role {
  line-height: 0.4rem;
  margin-bottom: 3rem;
}

header h1 {
  display: flex;
}

header h1 > span {
  margin-right: 1rem;
}

#contact p {
  line-height: 0.3rem;
}

#contact p span {
  font-weight: bold;
}

#social ul {
  display: flex;
  list-style: none;
}

#social ul a {
  margin-top: 0.8rem;
  margin-right: 1.5rem;
}
