#role {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
header {
  margin-bottom: 1rem;
}
header section {
  margin-bottom: 0;
}

header h1 {
  display: flex;
  margin: 0;
}

header h1 > span {
  margin-right: 1rem;
}
#utility {
  display: flex;
  justify-content: end;
  padding-top: 0.5rem;
}

#utility span {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

#contact {
  margin-top: 0.5rem;
}
#contact p {
  line-height: 0.3rem;
}

#contact p span {
  font-weight: 500;
}

#social {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#social li {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

#social ul a {
  margin-right: 1.5rem;
}

#social ion-icon{
  margin-right: 0.5rem;
}