header #role {
  line-height: 0.4rem;
  margin-bottom: 3rem;
}

header h1 {
  display: flex;
}

header h1 > span {
  margin-right: 1rem;
}

#contact p {
  line-height: 0.3rem;
}

#contact p span {
  font-weight: bold;
}

#social ul {
  margin-top: 10px;
  margin-left: -2rem;
  list-style: none;
}
