/* Formation */
.course h3 {
  margin-bottom: 0.5rem;
}

/* Expérience */
.work h3 {
  margin-bottom: 0.5rem;
}
.date {
  margin-top: 0px;
}
h3 > span {
  font-weight: bold;
}

/* Certification */

#certification h3 {
  margin-bottom: 0px;
}
#certification ul {
  list-style: none;
  margin-left: -2.45rem;
}
#certification p {
  margin-top: 10px;
}
