main p {
  color: var(--color-content);
}

/* Formation */
#formation h3 {
  margin-bottom: 5px;
}

/* Expérience */
.work h3 {
  margin-bottom: 0.5rem;
}
.date {
  margin-top: 0px;
}
h3 > span {
  font-weight: bold;
}

.work ul li {
  margin-left: -1.4rem;
}

/* Certification */

#certification h3 {
  margin-bottom: 0px;
}

#certification p {
  margin-top: 10px;
}
