/* Main */
section h2{
  margin: 0;
}

ul h3 {
  margin: 0.5rem 0 0 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.work ul {
  list-style-type: disc;
}
/* Expérience */

.date {
  margin-top: 0px;
}
h3 > span {
  font-weight: bold;
}

.work p,
.course p {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
}

/* Formation */

section ul {
  list-style-type: none;
  margin: 0.25rem auto 0.25rem -2.5rem;
}

/* Certification */

#certification p {
  margin-top: 10px;
}
