/*--------------// Print Version //--------------*/

@media print {
  body {
    background-color: none;
    grid-gap: 0.5cm;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 18pt;
  }
  h2 {
    font-size: 16pt;
  }
  h3 {
    font-size: 14pt;
  }
  h2,
  h3 {
    margin: 0px;
  }
  p,
  li {
    font-size: 12pt;
  }
  #social ul {
    margin: 0px auto;
  }
  header {
    margin-bottom: 0;
  }
  header #role {
    margin-top: 0.2cm;
  }
  header #utility {
    display: none;
  }
  #situation h2 {
    margin: 0px 0 -0.5cm 0;
  }
  #situation p {
    margin: 0.5cm 0 0 0;
  }
  section ul {
    margin: 0.3cm auto 0 -1cm;
  }
  #social > ul {
    margin-top: 0.2cm;
    margin-left: -2.45rem;
  }
  footer {
    display: none;
  }
  @page {
    size: auto;
    margin: 0.5cm 0.5cm 0cm 0.5cm;
  }
}
