#situation {
  margin-bottom: 0;
}
#situation h2 {
  margin: 0px;
}
#situation p {
  margin-bottom: 0px;
  line-height: 1.7rem;
}
#situation p span {
  font-weight: 600;
  color: var(--secondary-color);
}
