@import "header.css";
@import "situation.css";
@import "main.css";
@import "aside.css";
@import "footer.css";

/*--------------// COLOR  //-------------*/
:root {
  --primary-color: #333333;
}
:root {
  --color-content: #4a5464;
}
:root {
  --Font-Family: "Montserrat";
}

/*--------------// BALISE //--------------*/
body {
  background-color: #f8f8f8;
}
h1,
h2,
h3 {
  font-family: var(--Font-Family);
  color: var(--primary-color);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
}
h3 {
  font-family: var(--Font-Family);
  font-weight: 500;
  color: var(--primary-color);
}
h2::first-letter {
  text-transform: uppercase;
}
h3::first-letter {
  text-transform: uppercase;
}
p,
li,
a {
  color: var(--content-color);
  font-size: 1.15rem;
}
p {
  font-family: var(--Font-Family);
  line-height: 1.5rem;
}
ul {
  font-family: var(--Font-Family);
  list-style-type: circle;
}
li {
  margin-bottom: 0.8rem;
}
a {
  font-family: var(--Font-Family);
  color: var(--primary-color);
}
a:hover,
:focus {
  background-color: hsl(175, 94%, 63%);
}
button {
  font-family: var(--Font-Family);
  font-size: 1rem;
  padding: 0.3rem;
  border-style: 5px solid #ffffff;
  background-color: var(--primary-color);
}
button a {
  text-decoration: none;
  color: white;
}
/*--------------// ICON FONT //--------------*/
i {
  margin-right: 0.5rem;
  color: var(--primary-color);
}
/*--------------// Utility class //--------------*/

.list-item-style {
  margin-left: -1.4rem;
}

/*--------------// Positionnement //--------------*/
body {
  width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header social"
    "situation situation"
    "main aside"
    "main aside"
    "footer footer";
  grid-column-gap: 40px;
  grid-row-gap: 15px;
}
header {
  grid-area: header;
}
#social {
  grid-area: social;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
#situation {
  grid-area: situation;
}
footer {
  grid-area: footer;
}

section {
  margin-bottom: 5vh;
}
